{% extends 'layout.twig' %}

{% block body %}
    <div class="container py-3">
        <h1>{{ message }}</h1>
        <p>Status: {{ error.status }}</p>
        <a href="/" class="btn btn-primary">Go back</a>
    </div>
{% endblock %}
